{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-4">
      <h1>Commande</h1>
      {% if commande.livraison ==false %}
      <a class="btn btn-primary" href="{{ path('app_commande_show_modif_livraison', {'id' : commande.id}) }}">Livraison</a>
      {% endif %}
      <table class="table">
        <tbody>
          <tr>
            <th>Id</th>
            <td>{{ commande.id }}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{ commande.nom }}</td>
          </tr>
          <tr>
            <th>Adresse</th>
            <td>{{ commande.adresse }}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{ commande.total }}</td>
          </tr>
          <tr>
            <th>Date_commande</th>
            <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
          </tr>
          <tr>
            <th>Livraison</th>
            <td>{{ commande.livraison ? 'Yes' : 'No' }}</td>
          </tr>
        </tbody>
      </table>

      <a href="{{ path('app_commande_index') }}" class="btn btn-secondary">back to list</a>
    </div>
    <div class="col-8">
      <h3>Detail commande :</h3>

      <table class="table p-4 bg-light border">
        <thead>
          <tr class="bg-warning">
            <th scope="col">Name</th>
            <th scope="col">Ref</th>
            <th scope="col">Quantité</th>
          
          </tr>
        </thead>
        <tbody>
          {% for item in commande.detailCommandes %}
            <tr>
              <th scope="row">{{  item.name }}</th>
              <td>{{ item.ref }}</td>
              <td>{{ item.quantity }}</td>
          
            </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

  </div>

{% endblock %}
