{% extends 'base.html.twig' %}

{% block title %}DetailCommande index{% endblock %}

{% block body %}
    <h1>DetailCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ref</th>
                <th>Prix_unit</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_commande in detail_commandes %}
            <tr>
                <td>{{ detail_commande.id }}</td>
                <td>{{ detail_commande.name }}</td>
                <td>{{ detail_commande.ref }}</td>
                <td>{{ detail_commande.prixUnit }}</td>
                <td>{{ detail_commande.quantity }}</td>
                <td>{{ detail_commande.total }}</td>
                <td>
                    <a href="{{ path('app_detail_commande_show', {'id': detail_commande.id}) }}">show</a>
                    <a href="{{ path('app_detail_commande_edit', {'id': detail_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detail_commande_new') }}">Create new</a>
{% endblock %}
